* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    background-color: rgb(115, 180, 255);
    color: white;
    text-align: center;
    width: 650px;
    margin: 0 auto;
}

#paragraph {
    font-size: 16px;
    color: grey;
    text-align: center;
}
strong {
    color: rgb(68, 68, 68);
}

.container {
    width: 650px;
    height: auto;
    margin: 0 auto;
    padding: 2px 10px;
    background-color: rgb(245, 249, 253);
}

#first-table {
    margin: 30px auto;
}

#second-table {
    margin: 30px auto;
}

.tablehead {
    background-color: rgb(115, 180, 255);
    font-size: 32px;
    color: white;
}

.tablebody {
    font-size: 15px;
}

tbody tr {
    color: rgb(51, 51, 51);
    border-left: 1px solid rgb(115, 180, 255);
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(235, 235, 235);
}
tbody td {
    font-size: 18px;
    text-align: center;
    padding: 6px;
}

footer p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    text-align: center;
}

.tfoottable {
    font-size: 12px;
    font-weight: bold;
    color: grey;
    text-align: center;
    
}

.footercell {
    padding: 5px 0;
    background-color: rgb(115, 180, 255, .3);
    color: white;
}